/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */

.intro{
   background-image: url("https://lenscorp.ai/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fdetwrhe0k%2Fimage%2Fupload%2Fv1691730929%2Flenscorp-website%2FDesktop_-_23_u3ypg0.jpg&w=128&q=75");
   background-size: cover;
}

.animationImg1{
  /* animation: 1s fadeIn; */
  /* animation-fill-mode: forwards; */
  -webkit-animation: infinite;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 5s;
  visibility: hidden;
}

.animationImg2{
  /* animation: 1s fadeIn; */
  /* animation-fill-mode: forwards; */
  -webkit-animation: infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 4s;
  visibility: hidden;
}

.animationImg3{
  /* animation: 1s fadeIn; */
  /* animation-fill-mode: forwards; */
  -webkit-animation: infinite;
  -webkit-animation-name: out;
  -webkit-animation-duration: 3s;
  visibility: hidden;
}

.animationImg4{
  /* animation: 1s fadeIn; */
  /* animation-fill-mode: forwards; */
  -webkit-animation: infinite;
  -webkit-animation-name: in;
  -webkit-animation-duration: 2s;
  visibility: hidden;
}




@keyframes fadeIn {
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes run {
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes out {
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes in {
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

